header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 10px;
    margin: 75px;
}

nav {
    text-align: right;
}

.Breadcrumbs_Container {
    background-color: #F1F1F1;
    padding: 10px;
    text-align: center;
}

ul.Breadcrumbs {
    padding: 10px 16px;
    list-style: none;
}

ul.Breadcrumbs li {
    display: inline;
    font-size: 20px;
}

ul.Breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

section {
    background-color: antiquewhite;
    margin: 50px;
}

#first_block {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.small_img img {
    display: block;
    padding: 8px;
}

#right .container {
    bottom: 50%;
    padding: 225px 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}

h4 {
    margin: 20px
}

p {
    margin: 20px;
}

footer {
    background-color: #F1F1F1;
    padding: 10px;
}

@media only screen and (max-width: 960px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }

    #first_block {
        display: flex;
        flex-direction: column;
    }

    .small_img {
       display: flex;
       flex-direction: row;
    }

    #first_block .container {
        align-self: center;
        padding: 0px;
    }
}