header {
    background-color: #F1F1F1;
    text-align: left;
    padding: 10px;
    margin: 75px;
}

nav {
    text-align: right;
    font-size: large;
}

.Category_Container {
    background-color: antiquewhite;
    text-align: center;
    margin: 50px;
}

.Books_Container {
    display: flex;
    justify-content: space-evenly;
    background-color: antiquewhite;
    text-align: center;
    padding: 10px;
    margin: 50px;
}

footer {
background-color: #F1F1F1;
padding: 10px;
}

@media only screen and (max-width: 960px) {
    nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-wrap: wrap;
    }
}